@font-face {
    font-family: 'MyCustomFont';
    src: url('../public/fonts/jalnan/Jalnan2TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MyCustomFont', sans-serif;
}
